
<%- include partials/header.ejs %>

 


<!-- main nav -->
<%- include partials/main_nav.ejs %>


<!-- main section.. -->
 <main class="container" class="">
 <div class="background"> 
  
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="mt-5">Priti Yadav</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptates rerum eveniet sapiente repellat esse, doloremque quod recusandae deleniti nostrum assumenda vel beatae sed aut modi nesciunt porro quisquam voluptatem.</p>
          <div class="col-lg-12 ">
           <img src="/images/IMG_7392 (1).JPG" width="300" height="300" alt="" >
           </div>
        </div>
      </div>
    </div>
    </div> 
  

  
    
     
  </div>
 </main>
  

 

    
  <!-- // bottom nav -->

  <%- include partials/bottom_nav.ejs %>

<script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<%- include partials/footer.ejs %>
  

