<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Who I am? </h1>
      <br>
      <h2><li>Name: **** *****</li></h2>
         <h2><li> ID: ***** </li></h2>
         
        <p><h2>
         Please click the following link to see more about <a href="https://www.google.com ">me</a> 
        </h2>
        </p>

      <img src="https://images.assetsdelivery.com/compings_v2/yupiramos/yupiramos1609/yupiramos160912725.jpg"/>
       
    </div>
  </main>
  



<%- include partials/bottom_nav.ejs %>
<%- include partials/footer.ejs %>